
.services{
    
    text-align: center;
    font-size: 2em !important; 
    padding-bottom: 10px;
    font-family: Verdana, Tahoma, sans-serif, Times, serif;
}
 .separacion{
     margin-left: 10px;
 }
 .carta{
   
    height:500px;
     
 }
.texto-borde {
    font-family: Verdana;
    font-family: 'PT Sans';       
 }