
.services{
    
    text-align: center;
    font-size: 2em !important; 
    padding-bottom: 10px;
    font-family: "Times New Roman", Times, serif;
}
 .separacion{
     margin-left: 10px;
 }
 .carta{
   
    height:500px;
     
 }
//  .texto-borde {
//     -webkit-text-stroke: 2px white;
//     color: transparent; 
//   }