<section class="section bg-secondary">
  <div class="container">
    <div class="row row-grid align-items-center" id="seo">
      <div class="col-md-6">
        <div class="card bg-default shadow border-0">
          <img src="usApp/assets/img/seo.jpg" class="card-img-top imgCont">
          <blockquote class="card-blockquote">
            <svg preserveAspectRatio="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 583 95" class="svg-bg">
              <polygon points="0,52 583,95 0,95" class="fill-default" />
              <polygon points="0,42 583,95 683,0 0,95" opacity=".2" class="fill-default" />
            </svg>
            <h4 class="display-3 font-weight-bold text-white">¿Por qué es el SEO importante?</h4>
            <p class="lead text-italic text-white">cada vez hay más webs y todas compiten por el mismo espacio en los
              resultados de búsqueda. Entre ellas hay también cada vez más que trabajan activamente el SEO para
              su posicionamiento en los buscadores .</p>
          </blockquote>
        </div>
      </div>
      <div class="col-md-6">
        <div class="pl-md-5">
          <div class="icon icon-lg icon-shape icon-shape-warning shadow rounded-circle mb-5">
            <i class="ni ni-settings"></i>
          </div>
          <h3>¿Cuáles son los beneficios del SEO?</h3>
          <p class="lead">Implementar una Estrategia de Posicionamiento aumentará el número de visitantes en búsqueda de
            tu servicio o producto</p>
          <p>El propósito es optimizar las ventas y obtener un alto rendimiento de inversión. Esto representa una
            estrategia rentable y efectiva con el fin de atraer al público mejor calificado.

            Implementando las estrategias adecuadas e invirtiendo
            el tiempo necesario contarás con mayor volumen de tráfico en línea.</p>

          <h3 class="font-weight-bold text-warning mt-5">
            No esperes mas y ayuda a tus clientes a encontrarte mas rapido!!
          </h3>
        </div>
      </div>
    </div>
  </div>
</section>




<section class="section pb-0 bg-gradient-warning">
  <div class="container">
    <div class="row row-grid align-items-center" id="marketing">
      <div class="col-md-6 order-lg-2 ml-lg-auto">
        <div class="position-relative pl-md-5">
          <img src="usApp/assets/img/ill/ill-2.svg" class="img-center img-fluid">
        </div>
      </div>
      <div class="col-lg-6 order-lg-1">
        <div class="d-flex px-3">
          <div>
            <div class="icon icon-lg icon-shape bg-gradient-white shadow rounded-circle text-primary">
              <i class="ni ni-building text-primary"></i>
            </div>
          </div>
          <div class="pl-4">
            <h4 class="display-3 text-white">Campañas efectivas de marketing</h4>
            <p class="text-white"> creamos estrategias integrales y eficientes para lograr los mejores resultados.</p>
          </div>
        </div>
        <div class="card shadow shadow-lg--hover mt-5">
          <div class="card-body">
            <div class="d-flex px-3">
              <div>
                <div class="icon icon-shape bg-gradient-success rounded-circle text-white">
                  <i class="ni ni-satisfied"></i>
                </div>
              </div>
              <div class="pl-4">
                <h5 class="title text-success">Campañas personalizadas.</h5>
                <p>Nos enfocamos en entender lo valioso de tu producto, estudiando tu producto y generando una
                  estrategia de marketing que represente todo el potencial de tu marca o producto.</p>

              </div>
            </div>
          </div>
        </div>
        <div class="card shadow shadow-lg--hover mt-5">
          <div class="card-body">
            <div class="d-flex px-3">
              <div>
                <div class="icon icon-shape bg-gradient-secondary rounded-circle text-white margen">
                  <i class="fa fa-facebook-square" style="color: blue" aria-hidden=" true"></i>
                </div>
                <div class="icon icon-shape bg-gradient-warning rounded-circle text-white margen">
                  <i class="fa fa-instagram" aria-hidden="true" style="color: wheat"></i>
                </div>
                <div class="icon icon-shape bg-gradient-success rounded-circle text-white margen">
                  <i class="fa fa-twitter" style="color:blue" aria-hidden="true"></i>
                </div>
              </div>
              <div class="pl-4">
                <h5 class="title text-warning">Presencia en redes sociales</h5>
                <p>En el mundo digital, las ideas no descansan. Las redes sociales son clave para el crecimiento de tu
                  negocio
                  y para tus clientes. Llega a tu target a través de campañas de publicidad en Facebook, Twitter,
                  Instagram y
                  más.</p>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- SVG separator -->
  <div class="separator separator-bottom separator-skew zindex-100">
    <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
      <polygon class="fill-white" points="2560 0 2560 100 0 100"></polygon>
    </svg>
  </div>
</section>


<section class="section section-lg">
  <div class="container">
    <div class="row row-grid align-items-center">
      <div class="col-md-6 order-md-2">
        <img src="usApp/assets/img/theme/promo-1.png" class="img-fluid floating">
      </div>
      <div class="col-md-6 order-md-1" id="web">
        <div class="pr-md-5">
          <div class="icon icon-lg icon-shape icon-shape-success shadow rounded-circle mb-5">
            <i class="ni ni-ruler-pencil"></i>
          </div>
          <h3>Diseños Asombrosos</h3>
          <p>Entendemos que si el diseño de una página web no es agradable a la vista, es muy difícil mantener a los
            usuarios dentro del sitio; es por eso, que contamos con un equipo de profesionales que se encargarán de
            diseñar tu sitio web con diseños frescos, con las últimas tendencias en diseño para que tus usuarios se
            sientan cómodos usando tu plataforma. </p>
          <ul class="list-unstyled mt-5">
            <li class="py-2">
              <div class="d-flex align-items-center">
                <div>
                  <div class="badge badge-circle badge-primary mr-3">
                    <i class="ni ni-satisfied"></i>
                  </div>
                </div>
                <div>
                  <h6 class="mb-0">Interfaces amigables y agradables a la vista</h6>
                </div>
              </div>
            </li>
            <li class="py-2">
              <div class="d-flex align-items-center">
                <div>
                  <div class="badge badge-circle badge-success mr-3">
                    <i class="ni ni-settings-gear-65"></i>
                  </div>
                </div>
                <div>
                  <h6 class="mb-0">Diseños faciles de mantener y dar soporte</h6>
                </div>
              </div>
            </li>
            <li class="py-2">
              <div class="d-flex align-items-center">
                <div>
                  <div class="badge badge-circle badge-warning mr-3">
                    <i class="ni ni-html5"></i>
                  </div>
                </div>
                <div>
                  <h6 class="mb-0">Ultimas tecnologias web (Reactjs, Angular+7,Html5, etc... )</h6>
                </div>
              </div>
            </li>

          </ul>
        </div>
      </div>
    </div>
  </div>
</section>