.imgRedonda {
    width:500px;
    height:300px;
    border-radius:50px;
}
.services{
    
    text-align: center;
    font-size: 2em !important; 
    padding-bottom: 10px;
}
 .separacion{
     margin-left: 10px;
 }
 .myclass{
     margin-top: 50px !important;
 }